body {
  padding-top: 50px;
  background-color: #918f8f1e;
}
.fontawesome {
  font-size: 50px;
  padding: 10px;
}
#masthead {
  min-height: 270px;
  background-color: #000044;
  background: url(/public/images/svg2.png) #000044;
  height: 350px;
  background-position: left;
  width: 100%;
  z-index: 0;
  color: #cecbcb;
}
#masthead a {
  text-decoration: none;
}
#masthead h1 {
  font-size: 55px;
  line-height: 1;
}
#row {
  border: 1px solid #cecbcb;
}
#masthead .well {
  margin-top: 2%;
  text-align: left;
  background-color: #111155;
  border-radius: 10px;
  width:450px;
}

.icon-bar {
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 100px;
  }
}

.navbar-bright {
  background-color: #111155;
  color: #fff;
}

.navbar-bright a,
#masthead a,
#masthead .lead {
  color: #cecbcb;
}

.navbar-bright li > a:hover {
  background-color: #cecbcb;
  color: #111155;
}

.affix-top,
.affix {
  position: static;
}
#sidebar {
  padding-top: 50px;
  display: inline-block;
}
#sidebar li {
  color: #111155;
}

#sidebar li a {
  color: #6c757d;
}
#sidebar li a:hover {
    color: #111155;
    font-weight: 750;
    text-decoration: none;
}
#mainCol h2 {
  padding-top: 55px;
  margin-top: -55px;
}
#footer {
  background-color: #111155;
  color: #fff;
}
#footerli a:hover {
  color: #ffffff;
  text-decoration: underline;
}
#footerli a {
  text-decoration: none;
  color: #ffffff;
}
#footer2 {
  background-color: rgba(0, 0, 0, 0.2);
}
.img-responsive {
  width: 450px;
  display: inline-block;
  align-items: center;
}
.rounded-circle {
  border: 3px solid #aaaacc;
}
h5 {
  color: #aaaacc;
  font-weight: bold;
}
@media (min-width: 992px) {
  #sidebar.affix-top {
    position: static;
    margin-top: 30px;
    width: 228px;
  }

  #sidebar.affix {
    position: fixed;
    top: 70px;
    width: 228px;
  }
}

.flex-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.btn {
    margin-right: 5px;
    background-color: #111155;
    color: #cecbcb;
}
.btn:hover {
    background-color: #cecbcb;
    color: #111155;
    box-shadow: #6c757d 0px 0px 10px 0px;
}
hr {
    border: 1px solid #111155;
    background-color: #111155;
}
a {  text-decoration: none;
    color: #ffffff;}
a:hover {
    text-decoration: underline;
    color:#cecbcb;
}
h2 {    color: #111155;
    font-weight: 750;}
.nav {
    width:300px;
}